/*
 *   Copyright © 2015 Team Bees
 *   Dongguang You - u3503025@hku.hk,
 *   Robert Long - rbtLong@live.com
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 *  DISCLAIMER
 *  Please DO NOT copy any of the contents from our source code to use
 *  for an assignment. We are not allowing this under any circumstances.
 *  We will not take responsibility for the consequences relating to
 *  academic dishonesty and/or plagarism.
 */

/* Javadoc style sheet */

/* Define colors, fonts and other style attributes here to override the defaults */

/* Page background color */
body {
    background-color: #FFFFFF
}

/* Headings */
h1 {
    font-size: 145%
}

/* Table colors */
.TableHeadingColor {
    background: #CCCCFF
}

/* Dark mauve */
.TableSubHeadingColor {
    background: #EEEEFF
}

/* Light mauve */
.TableRowColor {
    background: #FFFFFF
}

/* White */

/* Font used in left-hand frame lists */
.FrameTitleFont {
    font-size: 100%;
    font-family: Helvetica, Arial, sans-serif
}

.FrameHeadingFont {
    font-size: 90%;
    font-family: Helvetica, Arial, sans-serif
}

.FrameItemFont {
    font-size: 90%;
    font-family: Helvetica, Arial, sans-serif
}

/* Navigation bar fonts and colors */
.NavBarCell1 {
    background-color: #EEEEFF;
}

/* Light mauve */
.NavBarCell1Rev {
    background-color: #00008B;
}

/* Dark Blue */
.NavBarFont1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

.NavBarFont1Rev {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}

.NavBarCell2 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
}

.NavBarCell3 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
}

